.glass-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}

.input-box {
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
}

.module-card {
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.module-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
}

.module-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.module-text {
  color: #d1d5db;
}
